.modal-open {
  display: block;
}

.modal-closed {
  display: none;
}

.story__container {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  max-width: calc(100% - 40px);
  width: 800px;
  margin: 20px auto;
  border: 5px solid #000;
  border-radius: 5px;
  background-color: purple;
  height: 90vh;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 5;
}

.story__container section {
  max-width: calc(100% - 40px);
  width: 600px;
  margin: 20px auto;
}

.story__container h1 {
  font-family: 'Windsor BT Light';
  font-size: 3rem;
  color: #fff;
  margin-top: 0;
}

.story__container p {
  font-family: 'Sailec-Regular';
  color: #fff;
}

.story__exit {
  top: 0;
  cursor: pointer;
  font-size: 1rem;
  right: 0;
  margin: 10px;
  position: absolute;
  z-index: 5;
}

.story__exit:before {
  content: 'x';
}
