.modal-open {
  display: block;
}

.modal-closed {
  display: none;
}

.story__background {
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 5;
}

.story__container {
  max-width: calc(100% - 40px);
  width: 800px;
  margin: 20px auto;
  border: 5px solid #000;
  border-radius: 5px;
  background-color: purple;
  height: 85vh;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.story__container section {
  max-width: calc(100% - 40px);
  width: 600px;
  margin: 20px auto;
}

.story__container h1 {
  font-family: 'Windsor BT Light';
  font-size: 3rem;
  color: #fff;
  margin-top: 0;
}

.story__container p {
  font-family: 'Sailec-Regular';
  color: #fff;
}

.story__link {
  color: var(--orange2);
}

.story__exit {
  cursor: pointer;
  font-size: 1rem;
  margin-right: 10px;
  z-index: 5;
  float: right;
}

.story__exit:before {
  content: 'x';
}
